/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    height: 100%;
}

header {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: #007BFF;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a, .download-link {
    color: #007BFF;
    text-decoration: none;
}

nav a {
    font-size: 18px;
    margin: 0 10px;
    position: relative;
}

.download-link {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 16px;
    opacity: 0.8;
}

/* Link Interactions */
.download-link:hover, nav a:hover, .splash .links a:hover, .content a:hover {
    text-decoration: underline;
    opacity: 1;
}

/* Splash/Home Page Specific Styles */
.splash {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #6a11cb, #2575fc);
    color: white;
}

.splash h1 {
    font-size: 48px;
    margin: 20px 0;
}

.splash p, .splash nav {
    font-size: 24px;
}

.splash .links a, .splash nav a {
    display: inline-block;
    font-size: 20px;
    padding: 8px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    text-decoration: none;

}

.splash .links i {
    margin-right: 5px;
}

/* Content Sections for Bio and Resume Pages */
.content, .pdf-container, .bio-container {
    background-color: white;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content, .pdf-container {
    max-width: 100%;
    width: 95%;
    margin: 20px auto;
    padding: 20px;
}

.content ul {
    list-style: none;
    padding: 0;
}

.content ul li, .content a {
    padding: 10px;
    margin: 5px 0;
    color: #007BFF;
}

/* PDF Container Styles */
.pdf-container {
    height: 100vh;
    width: 70%;
    border: 1px solid #ccc;
    overflow: auto;
}

.pdf-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Animation */
.pdf-container {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Fixed Elements */
.fixed-container, .bottomleft {
    position: fixed;
    z-index: 1000;
}

.fixed-container {
    left: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
}



/* Additional Styles */
.contact-info {
    background: #333;
    color: white;
    padding: 10px 0;
}

.corner-logo {

    width: 70px;

}

.main-logo {
    width: 150px;
}
.logo, .corner-logo {
    height: auto;
    display: block;
    margin: 0 auto;
}
/* Bio Page Specific Styles */
.bio-container {
    background-color: white;
    width: 80%;
    margin: 40px auto;
    padding: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid #D0D0D0;
    border-radius: 10px;
}

.name-heading {
    font-size: 36px;
    color: #007BFF;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.profile-pic {
    width: 250px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.bio-text {
    text-align: left;
    margin-top: 20px;
}

.bio-name {
    font-family: 'Roboto Mono', monospace; /* Roboto Mono font for a techy look */
    font-size: 3em; /* Larger font size for prominence */
    color: #007BFF; /* Stylish, eye-catching color */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Subtle shadow for depth */
}

.highlight {
    color: #007BFF; /* Choose your preferred color */
    font-size: 1.2em; /* Larger size; adjust as needed */
    font-weight: bold; /* Optional: makes the word bold */
}